/*disposition des elements de la page */
#wrapper{
  background-color: silver;
  font-size: 16px;
  line-height: 1.2em;
  width: 100%;
  padding: 0;
  margin-bottom: 100px;
}

footer{
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
}

.compte{
  color: silver;
}

/******************************************/

/************* bloc **********************/
.row{
  display: flex;
}
.bloc{
  display: inline-block;
  padding: 10px;
  margin: 10px;
}
.left{
  float: left;
  width: 50%;
}
.right{
  float: right;
width: 50%;
}
.left,.right{
  display: inline-block;
}

/*****************************************/
/**************** menu ********************/
.menu{
  position: fixed;
  top: 0;
  width: 100%;
}


/*******************************************/
/************* intro **********************/
.intro{
margin-top: 15px;
margin-left: 20px;
line-height: 1.5em;
}

/******************************************/
/************* portfolio ****************/
.cache-info{
  bottom: 0;
  display: block;
  position: absolute;
  transition: bottom 0.7s;
  background-color: silver;
  opacity: 0.7;
  width: 50%;
  color: white;
  height: 100px;
  visibility: hidden;
}

figure:hover .cache-info{
  visibility: visible;
  overflow: hidden;
  bottom: 400px;
}

.bouton a{
  color: white;
}
.bouton a:hover{
  color: silver;
}
